:root {
    --large-default-padding: 6.5em;
    --medium-default-padding: 4em;
}
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

html,body {
    color: #555;
    margin: 0;
    padding: 0;
}

#principal {
    width: 64em;
    margin: 1.25em auto;
}

.header{
    background-color: #162028;
    color: #425564;
    display: flex;
    text-align: center;
    padding: 16px;
    justify-content: space-between;
}

.header__logo{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 96px;
    letter-spacing: 2px;
    color: white;
}

.header__nav ul{ 
    display: flex;
    list-style-type: none;
    font-size: 16px;
    gap: 16px;
}

.header__nav a{ /**/
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    padding: 14px;
    border-radius: 6px;
}

.header__nav a:hover{
    text-decoration: underline;
}

.portfolio {
    padding: var(--medium-default-padding) var(--large-default-padding);
    text-align: center;
}

.portfolio h1 {
    font-size: 2.25em;
    color: #252525;
}

.portfolio p {
    font-size: 1em;
    line-height: 2;
    color: #555;
}

.gallery {
    color: #555;
    padding: 0 var(--large-default-padding) var(--medium-default-padding);
    display: flex;
    justify-content: space-between;
}

.gallery-card {
    text-align: center;
}

.gallery-title {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 1em;
    font-weight: bold;
}

.about {
    background-color: #003d52;
    padding: var(--large-default-padding);
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.about h2 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: normal;
}

.about p {
    line-height: 1.5;
    width: 70%;
}

.rodape {
    background: #0b171f;
    padding: 1.8em;
    font-size: .75em;
    color: #6f8597;
    letter-spacing: .3em;
    text-align: center;
}